.Head td{
    color:red;
    padding: 100px 100px 20px;
    font-style:bold ;
    padding-top: 10px;
    text-align:center;
    
}
.table1{
    box-shadow: -2px 2px 1px rgba(0, 0, 0, 0.2);
}
.table2{
    width: 72.5%;
    padding-left:0px;
    box-shadow: inset -2px 2px 1px rgba(0, 0, 0, 0.2);
}
.item td{
    padding: 1px 60px 1px 60px;
    text-align: center;
}
